.categories-menu__img {
  border-radius: 10px;
  max-width: 200px;
  max-height: 178px;
}

.categories-menu__item {
  position: relative;
  border-radius: 20px;
}

.categories-menu__title {
  margin: 0;
  color: var(--color-secondary-white);
  width: 100px;
  top: 90px;
  left: 15px;
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}
.categories-menu__item:hover {
  opacity: 0.8;
}
