.error-indicator-wrapper {
  width: 95vw;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-indicator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-primary-warning);
}

.error-indicator__title {
  font-size: 24px;
  margin-bottom: 14px;
}

.error-indicator__description {
  margin-bottom: 14px;
}
